.character-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  padding: 100px;
  color: white; 
  background-color: #1c1250; 
  border-radius: 8px;
  margin: auto; 
  max-width: 800px; 
}

.character-detail img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.character-detail-content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  text-align: left; 
  position: relative;
}


.character-detail-content h2 {
  margin-top: 10px;
  color: white;
}

.character-detail-content p {
  margin: 5px 0;
  color: white;
}

.character-detail-content li {
  margin: 5px 0;
  color: white;
}

.character-detail-content button {
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  background-color: #f8e45f;
  color: #282c34;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: auto; 
}

.character-detail-content button:hover {
  background-color: #f6d43e;
}

.character-detail-content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  text-align: left; 
  position: relative; 
  padding-bottom: 60px; 
}

.character-detail-content button.close {
  position: absolute;
  bottom: 20px; 
  right: 10px;
}


.character-sayings.collapsed {
  max-height: 100px;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.character-sayings.expanded {
  max-height: none; 
}
