@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  color:#ffe53b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/fondo.jpg');
  background-size:auto;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
